body {

    
}

.principal {

    background-color: gray;
    padding: 30px;


}

.titulo-principal {

    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#banner {

    width: 100%;
    
}

.titulo-centralizado {

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: solid black;
    height: 120px;
    padding: 20px;
}

p {

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:black;


}

#missão {

    font-size: 20px;
}

em strong {

    color: red;
}



.beneficios {

    background-color: aliceblue;
    padding: 20px;
}



ul {

    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {

    font-style: italic;
    color: black;
}

.corte {

    width: 50%;
}



